[user]
	name = Chap
	email = antoine.chapusot@gmail.com
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
[merge]
	tool = meld
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	templateDir = /Users/antoinechapusot/git/passculture-infra/.git-template
